.git/
cov_output/
build/
module-resolve.json
*.cjo
ci_test/
ci_lib/
bin/
*.gcda
*.gcno
output/
log/
report/
tmp/
temp_ci_lib/
*.bc
test/LLT/*.cj.macrocall
test/LLT/*/*.cj.macrocall
src/html4cj/*_test.cj
src/html4cj/*_test.cjt
.cjpm-history
module-lock.json
*.macrocall
.cache
cjpm.lock
target/
test_temp
*.cjt

.vscode/